.liarsDice{
    margin: 2rem 0;

    .rolles{

        &__form{

            &--label{
                text-align: center;
                color: $color-text;
            }

            &--input{
                @include input_standard;
                margin: 0.3rem 0;
            }
        }

        &__dice{

            &--text{
                text-align: center;
                color: $color-text;
            }
        }
    }
}