.roomOrBear{
    margin-top: 2rem;

    .randomizer-rooms{
        margin-bottom: 1rem;
        
        &__randomize{
            display: flex;
            justify-content: center;
            gap: 0.2rem;

            &--button{
                @include button_standard;
            }
        }
    }

    .players-list{
        
        &__drag{
            text-align: center;
            color: $color-text;

            &--player{
                user-select: none;
                cursor: grab;
            }
        }
    }
}