.roomOrBear{
    background-color: $color-componentsBG;
    padding: $padding-card;
    border-radius: 1.2rem;

    .randomizer{
        margin-bottom: 1rem;
        
        &__room{
            display: flex;
            justify-content: center;
            gap: 0.2rem;

            &--button{
                @include button_standard;
            }
        }
    }

    .players{
        
        &__list{
            text-align: center;
            color: $color-text;

            &--player{
                user-select: none;
                cursor: grab;
            }
        }
    }
}