.shieldTheDeal{
    margin: 2rem 0;

    .start{

        &__round{

            &--button{
                @include button_standard;
                margin: 0 auto;
                display: block;
            }
        }
    }

    .players-list{
        margin-bottom: 2rem;
        
        &__choose{
            text-align: center;
            color: $color-text;

            &--player{
                cursor: grab;
            }
        }
    }
}