.rooms-list{
    display: flex;

    .room{
        border: none 1px $color-border;
        border-style: none solid;
        padding: 0.2rem 0;

        &__title{
            padding-bottom: 0.2rem;
            border-bottom: solid 1px $color-border;

            &--text{
                color: $color-text;
                text-align: center;
                font-weight: bold;
            }
        }

        &__player-list{
            text-align: center;
            color: $color-text;
            margin: 0.2rem 0;

            &--player{
                user-select: none;
                cursor: grab;
            }
        }

        &__choice{
            display: flex;
            justify-content: center;
            gap: 0.2rem;
            margin-top: 0.2rem;

            &--shield{
                @include button_standard;
                background-color: $color-keep;
                color: $color-text
            }

            &--steal{
                @include button_standard;
                background-color: $color-lost;
                color: $color-text;
            }
        }

        &__gold{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.2rem;
            gap: 0.2rem;

            &--text{
                color: $color-text;
            }

            &--input{
                @include input_gold;
            }
        }

        &__lost{
            text-align: center;
            margin-top: 0.2rem;

            &--button{
                @include button_standard;
                margin-top: 0.2rem;
            }
        }
    }

    .shield{
        background-color: $color-keep;
    }

    .lost{
        background-color: $color-lost;
    }
}