*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.app{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

// Variables
@import "./variable";

// Components
@import "./components/header";
@import "./components/main";
@import "./components/footer";

// Cards
@import "./cards/bigCard";

// Rooms
@import "./rooms/rooms";

// Rewards
@import "./rewards/reward";

// Games
@import "./games/competitors";
@import "./games/roleD100";
@import "./games/liarsDice";
@import "./games/roomOrBear";
@import "./games/stealOrDeal";