*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.app{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

// Variables
@import "./variable";

// Components
@import "./components/header";
@import "./components/main";

//Game pages
@import "./cards/competitors";
@import "./cards/roleD100";
@import "./cards/roomOrBear";
@import "./cards/stealOrDeal";