// Element Colors
$color-text: #ffffff;
$color-activeBtn: #777777;
$color-border: #000000;
$color-componentsBG: #45ca18;
$color-lost: #e02f2f;
$color-keep: #2a95ff;

$padding-card: 1rem 0.7rem;
$padding-input: 0.6rem 0.8rem;