// Element Colors
$color-text: #ffffff;
$color-activeBtn: #777777;
$color-border: #000000;
$color-componentsBG: #45ca18;
$color-lost: #e02f2f;
$color-keep: #2a95ff;

// Element Paddings
$padding-card: 1rem 0.7rem;
$padding-input: 0.6rem 0.8rem;
$padding-button: 0.3rem 0.9rem;

// Buttons
@mixin button_standard{
    padding: $padding-button;
    border-radius: 1rem;
    border: solid $color-border 1px;
    cursor: pointer;
}

// Inputs
@mixin input_standard{
    padding: $padding-input;
    border: solid $color-border 1px;
    border-radius: 1rem;
    width: 100%;
    &:focus{
        outline: none;
    }
}

@mixin input_gold{
    border: solid $color-border 1px;
    padding: 0 0.5rem;
    color: $color-text;
    &:focus{
        outline: none;
    }
}