.reward{

    &__gold{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;

        &--text{
            color: $color-text;
            font-weight: bold;
            font-size: 1.5rem;
        }

        &--input{
            @include input_gold;
            font-size: 1.5rem;
        }
    }
}
