.players-roleD100{
    display: flex;
    row-gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .role-card{
        flex: 0 0 calc(33.333% - 1rem);
        background-color: $color-componentsBG;
        padding: $padding-card;
        border-radius: 1rem;

        .player-details{

            &__name{

                &--text{
                    color: $color-text;
                    font-weight: bold;
                    text-align: center;
                    font-size: 1.5rem;
                }
            }

            &__number{

                &--text{
                    color: $color-text;
                    font-weight: bold;
                    text-align: center;
                    font-size: 2rem;
                }
            }

            &__check{
                display: flex;
                justify-content: space-evenly;

                &--keep{
                    background-color: $color-keep;
                    color: $color-text;
                    padding: 0.3rem 0.9rem;
                    border-radius: 1rem;
                    border: solid $color-border 1px;

                    &:hover{
                        cursor: pointer;
                    }
                }

                &--lost{
                    background-color: $color-lost;
                    color: $color-text;
                    padding: 0.3rem 0.9rem;
                    border-radius: 1rem;
                    border: solid $color-border 1px;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .keep{
        background-color: $color-keep;

        .player-details{

            &__check{
                display: none;
            }
        }
    }

    .lost{
        background-color: $color-lost;

        .player-details{

            &__check{
                display: none;
            }
        }
    }
}

.generator-card{
    margin-top: 2rem;
    background-color: $color-componentsBG;
    width: 100%;
    padding: $padding-card;
    border-radius: 2rem;

    .reward{

        &__gold{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.2rem;

            &--text{
                color: $color-text;
                font-weight: bold;
                font-size: 1.5rem;
            }

            &--input{
                border: solid $color-border 1px;
                padding: 0 0.5rem;
                font-size: 1.5rem;
                color: $color-text;
                &:focus{
                    outline: none;
                }
            }
        }
    }

    .between{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.7rem 0;

        &__number{
            flex: 0 0 33.333%;
            text-align: center;

            &--input{
                padding: $padding-input;
                border: solid $color-border 1px;
                border-radius: 1rem;
                width: 100%;
            }

            &--text{
                color: $color-text;
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
    }

    .generate{

        &__random-number{
            text-align: center;

            &--button{
                padding: 0.3rem 0.9rem;
                border-radius: 1rem;
                border: solid $color-border 1px;
            }

        }
    }
}