.roomOrBear{
    background-color: $color-componentsBG;
    padding: $padding-card;
    border-radius: 1.2rem;

    .rooms{
        display: flex;
        margin-bottom: 2rem;

        .room{
            border: none 1px $color-border;
            border-style: none solid;

            &__title{
                padding-bottom: 0.2rem;
                border-bottom: solid 1px $color-border;

                &--text{
                    color: $color-text;
                    text-align: center;
                    font-weight: bold;
                }
            }

            &__list{
                text-align: center;
                color: $color-text;
                padding: 0.2rem 0;

                &--player{
                    user-select: none;
                    cursor: grab;
                }
            }

            &__gold{
                margin-top: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.2rem;

                &--text{
                    color: $color-text;
                }

                &--input{
                    padding: 0 0.5rem;
                    color: $color-text;
                    border: solid 1px $color-border;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }

    .randomizer{
        margin-bottom: 1rem;
        
        &__room{
            display: flex;
            justify-content: center;
            gap: 0.2rem;

            &--button{
                padding: 0.3rem 0.9rem;
                border-radius: 1rem;
                border: solid $color-border 1px;
            }
        }
    }

    .players{
        
        &__list{
            text-align: center;
            color: $color-text;

            &--player{
                user-select: none;
                cursor: grab;
            }
        }
    }
}