.roomOrBear{
    background-color: $color-componentsBG;
    padding: $padding-card;
    border-radius: 1.2rem;

    .rooms{
        display: flex;
        margin-bottom: 2rem;

        .room{

            &__title{
                border: solid 1px $color-border;
                border-top: none;
                padding: 0.2rem;

                &--text{
                    color: $color-text;
                    text-align: center;
                    font-weight: bold;
                }
            }

            &__list{
                text-align: center;
                color: $color-text;
                padding: 0.2rem 0;
                border-left: solid 1px $color-border;
                border-right: solid 1px $color-border;

                &--player{
                    user-select: none;
                    cursor: grab;
                }

            }
        }
    }

    .players{
        
        &__list{
            text-align: center;
            color: $color-text;

            &--player{
                user-select: none;
                cursor: grab;
            }
        }
    }
}